body{
  padding:1em;
  font-family:"Pontano Sans", sans-serif;
}
h1,h2,h3,h4{
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}
h1{
  font-size:2em;
}

a{
  font-size:1em;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

content{
  margin:1em;
}
